#elHeader{
  width: 100vw;
  height: 10vh;
  background-color: rgba(133,43,42,1);
  position: fixed;
  left: 0;
  top: 0;
  .logo{
    font-size: 1rem;
    margin-left: 5rem;
    color: white;
  }
  .user{
    margin-right: 5rem;
    &:hover{
      cursor: pointer;
    }
  }
}
